@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Fonts

$main-font: 'Oswald', sans-serif;
$second-font: 'Roboto', sans-serif;;

// Colors

$white: #FFFFFF;
$dark-white: #FCFAF9;


$gray: #F7F3F0;
$dark-gray: #424242;
$dark: #131313;

$red: #C74817;
$yellow: #D3A863;


// Main Styles

body{
    background-color: $gray;
}

.container{
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px){
    .container{
        padding: 0 60px;
    }
}

h1, h2, h3, h4{
    font-family: $main-font;
    font-weight: 500;
}

h1{
    font-size: 150px;

    @media screen and (max-width: 400px){
        font-size: 120px;
    }
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}


.paragraph{
    font-family: $second-font;
    font-size: 20px;
    color: rgb(130, 130, 130);
    line-height: 25px;
}

// header

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-family: $main-font;
    margin-top: 20px;

    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 140px;
        height: 100%;


        background-color: black;
        color: white;
    }

    &__navbar{
        width: 40%;
        min-width: min-content;
        height: 100%;

        *{
            height: 100%;
        }
    }

    &__list{
        justify-content: space-between;
        display: flex;
    }

    &__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $dark-gray;

        font-size: 14px;
        letter-spacing: 2px;
        padding: 0 34px;
        font-weight: 500;

        &.active-link{
            color: $red;
        }

        &.contact-btn{
            color: $white;
            background-color: $yellow;
        }
    }

    .burger-btn{
        display: none;
        font-size: 40px;
    }

    @media screen and (max-width: 1200px){

        // padding: 0 20px;

        &__navbar{
            height: 50px;
            position: absolute;
            top: -50px;
        }

        .burger-btn{
            display: block;
        }


    }
}


// Welcome

.welcome{
    display: flex;
    align-items: center;

    &__span{
        display: block;
        letter-spacing: 7px;
        font-family: $main-font;
        font-weight: 500;

    }

    &__text *{
        margin: 25px 0;
    }


    &__view-btn{
        display: inline-block;
        padding: 20px 30px;

        text-decoration: none;
        font-family: $main-font;
        color: $white;
        letter-spacing: 5px;
        font-weight: 500;
        background-color: $red;
    }

    @media screen and (max-width: 1200px){

        margin-top: 60px;

        &__image{
            width: 80%;
            opacity: .3;

            img{
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 900px){
        &__image{
            display: none;
        }
    }

}

.main{
    display: flex;
    margin-bottom: 120px;

    .mission{
        flex: 2;
        width: 30%;
        margin-right: 80px;

        &__video{
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            cursor: pointer;
            margin-bottom: 25px;

            img{
                width: 100%;
            }
        }

        &__play-btn{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100px;
            height: 100px;

            background-color: $white;
            border-radius: 100%;

            font-size: 50px;
            color: $red;
        }

        &__text{
            margin-top: 20px;
        }

        .bold-text{
            font-weight: bold;
            color: $dark;
        }
    }

    .news{
        flex: 1;

        box-sizing: border-box;
        padding: 40px;
        background-color: white;


        &__block{
            margin: 50px 0;

            *{
                display: block;
                margin-bottom: 15px;
            }
        }

        &__date{
            font-family: $main-font;
            color: $red;
            font-size: 12px;
            letter-spacing: 2px;
            font-weight: 600;
        }

        &__text{
            font-family: $second-font;
            color: #5d5d5d;
            line-height: 25px;
        }

        &__show-more-btn{
            display: block;
            font-family: $main-font;
            font-weight: 500;
            text-decoration: none;
            font-size: 14px;
            letter-spacing: 3px;
            color: $dark;

            i{
                font-size: 17px;
            }
        }

    }

    @media screen and (max-width: 1200px){
        display: block;
        margin-top: 50px;

        .mission, .news{
            width: 100%;
            margin-bottom: 50px;
        }
    }
}


// Products

.products{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__subtitle{
        margin-top: 20px;
        text-align: center;
        color: $dark;
    }

    &__name{
        font-family: $main-font;
        font-weight: 500;
        font-size: 25px;
    }

    &__price{
        font-family: $main-font;
        font-weight: 500;
        font-size: 18px;
        color: $red;
        margin-top: 10px;
    }

    &__description{
        font-family: $second-font;
        text-align: center;
        font-size: 16px;
        color: $dark-gray;
        line-height: 25px;
        margin: 15px 0;
    }

    &__add-to-cart-btn{
        display: inline-block;
        position: relative;
        text-align: center;
        text-decoration: none;
        font-family: $main-font;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 2px;
        color: $dark;

        i::before{
            position: absolute;
            left: -20px;
            top: 0;
        }
    }

    &__list{
        display: flex;

        &-item{
            img{
                width: 400px;
                margin: 0 auto;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @media screen and (max-width: 1200px){
        &__list{
            flex-wrap: wrap;
        }

        &__description{
            font-size: 20px;
        }

        &__add-to-cart-btn{
            margin-top: 30px;
            font-size: 16px;
        }
    }

    @media screen and (max-width: 400px){
        &__image{
            width: 320px;
        }
    }

}

.review{
    display: flex;
    margin-top: 60px;

    &__image{
        width: 50%;   
        min-width: 200px;
        position: relative;

        img{
            width: 100%;
        }

        &::after{
            content: '99';

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 100%;

            width: 70px;
            height: 70px;

            position: absolute;
            right: -10px;
            top: -20px;
            
            color: $white;
            font-size: 35px;

            font-family: $main-font;

            background-color: $yellow;
        }

        @media screen and (max-width: 600px){
            display: none;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        margin-left: 40px;
        padding: 30px;

        @media screen and (max-width: 600px){
            margin: 0;
        }
    }
    &__text{
        font-family: $second-font;
        font-size: 30px;
        font-style: italic;
        line-height: 40px;
        color: rgb(130, 130, 130);
    }

    &__reviewer{
        display: flex;
        flex-direction: column;

        margin-top: 40px;
        font-family: $main-font;
        font-weight: 500;
    }

    &__name{
        font-size: 23px;
    }

    &__status{
        font-size: 13px;
        letter-spacing: 2px;
        color: $red;

        margin-top: 7px;
    }

    @media screen and (max-width: 1200px){
        &__info{
            padding-top: 0;
        }

    }
}

// Gallery

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;

    &__subtitle{
        margin: 30px 0 50px 0;
        text-align: center;
    }

    &__photos{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: repeat(2, auto);

        width: 100%;

        @media screen and (max-width: 400px){
            grid-template-columns: repeat(auto-fit, 100%);
        }
    }

    &__image{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Newsletter

.newsletter{
    display: flex;
    align-items: center;


    margin-top: 50px;

    &__aside{
       margin-left: 75px;


       @media screen and (max-width: 500px){
           width: 90%;
           text-align: center;
       }
    }

    &__heading{
        font-size: 45px;
        font-weight: 500;
    }

    &__text{
        margin: 60px 0;
    }

    &__form{
        display: flex;
        align-items: center;


        @media screen and (max-width: 500px){
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            input, button{
                width: 100%;
                margin: 10px 0 0 0;
            }
        }
    }

    &__input{
        box-sizing: border-box;
        height: 60px;
        width: 340px;

        background-color: $gray;
        
        border: 1px solid $dark;

        font-family: $second-font;
        font-size: 16px;

        padding-left: 10px;


    }

    &_btn{
        box-sizing: border-box;
        background-color: $red;
        border: 0;
        outline: 0;

        height: 60px;
        width: 130px;
        color: $white;

        margin-left: 8px;

        font-family: $main-font;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 2px;

        cursor: pointer;

        &:focus{
            outline: 2px solid $dark;
        }
    }


    @media screen and (max-width: 1200px){
        flex-direction: column;
        margin-top: 100px;

        &__aside{
            margin: 0;

        }

        img{
            display: none;
        }
    }
}

// Types

.types{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__subtitle{
        margin-top: 20px;
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(2, 600px);
        grid-template-rows: repeat(auto-fit, auto);
        grid-gap: 20px;

        justify-content: center;

        margin-top: 40px;

        width: 100%;

        &-item{
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 30px;
            background-color: $white;
        }

        @media screen and (max-width: 1200px){
            grid-template-columns: 80%;
        }
    }

    &__info{
        margin-left: 40px;
    }

    &__type-name{
        font-size: 24px;
    }

    &__description{
        margin: 10px 0;

        font-family: $second-font;
    }

    &__learn-more{
        font-family: $main-font;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 2px;
        color: $red;
        text-decoration: none;
    }

    @media screen and (max-width: 1200px){
        margin-top: 50px;
    }

    @media screen and (max-width: 570px){
        &__grid-item img{
            display: none;
        }

        &__info{
            margin: 0;
        }
    }
}

// Social

.social{
    display: flex;
    justify-content: center;

    margin-top: 100px;

    &__nav{
        ul{
            display: flex;

            li{
                margin: 0px 10px;
            }


        }
    }

    &__link{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 35px;
        height: 35px;

        border-radius: 100%;

        color: $white;
        background-color: $red;

        text-decoration: none;

    }
}

// Copyright

.copyright{
    display: block;
    text-align: center;

    margin: 50px 0 30px 0;
    font-family: $second-font;
    font-size: 13px;
}